@page "/"

<PageTitle>Flight Services Home</PageTitle>

<h1>Welcome to the Flight Services Portal!</h1>
<hr />

<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <img class="card-img-top w-100" src="/images/GettyImages-603130016-5b0db0e543a1030036f10e32.jpg" />
            <div class="card-body">
                <div class="card-title">

                    <hr />
                </div>
                <p class="card-text>">

                </p>
            </div>
        </div>

    </div>
    <div class="col-lg-4">
        <div class="card"> 
            <img class="card-img-top w-100 text-center" src="/images/travelstyle-img01.jpg" />
            <div class="card-body">
                <div class="card-title">
                    <h3></h3>
                    <hr />
                </div>
                <p class="card-text>">

                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <img class="card-img-top w-100" src="/images/49881184712_f217b631c4_b.jpg" />
            <div class="card-body">
                <div class="card-title">

                    <hr />
                </div>
                <p class="card-text>">

                </p>
            </div>
        </div>
    </div>
</div>




<SurveyPrompt Title="How is Blazor working for you?" />
