@page "/Terminals/Vendors"
@inject HttpClient FlightServices
<h1>Vendors</h1>



@code {





    /// <summary>
    /// 
    /// </summary>
    /// <returns></returns>
    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();



    }    

}
